body{
    width: 100%;
}
/* main{
}
section{
} */
button :hover{
    background-color: black;
}
.form-label{
    margin-bottom: 0rem!important;
    height: 60px;
}
#calculadora{
    width: 25%!important;
}
